<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <title>#{msgs.securedWelcome}</title>
        <h:outputStylesheet library="css" name="styles.css" />
    </h:head>
    <h:body>
        <h:form>
            <h1>#{msgs.welcome} #{loginBean.username}</h1>
            <br />
            <h:outputText value="#{msgs.securedInfo}" />
            <br />
            <h:commandLink action="#{loginBean.doLogout}" value="#{msgs.logout}" />
        </h:form>
    </h:body>
</html>